@font-face {
    font-family: "Inter-regular";
    src: url(../../assets/Fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: "Inter-Medium";
    src: url(../../assets/Fonts/Inter-Medium.ttf);
}

p {
    font-family: "Inter-Medium";
}

a {
    font-family: "Inter-Regular";
}